extends layout
 
block content
  - if (toShow != null)
    h1(class='detailh1')= title
 
    - let Kangarooid = toShow._id
    - let Kangaroo_color = toShow.Kangaroo_color
    - let Kangaroo_breed = toShow.Kangaroo_breed
    - let Kangaroo_price = toShow.Kangaroo_price
 
    div
      div.row
        div(class='KangarooAttr') Kangaroo ID is: #{Kangarooid}
      div.row
        div(class='KangarooAttr') Kangaroo color is: #{Kangaroo_color}
      div.row
        div(class='KangarooAttr') Kangaroo breed is: #{Kangaroo_breed}
      div.row
        div(class='KangarooAttr') Kangaroo price is: #{Kangaroo_price}
  - else
    h1 Kangaroo Details
    h2 No instance to detail
