extends layout
block content
    div(class="container-fluid")
        h1= title
    - let items = results;
    - let o;
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-danger" onclick=`buy(${item})`) #{form.Kangaroo_color}              
                div(class = "col-sm-2 bg-danger" onclick=`buy(${item})`) #{form.Kangaroo_breed}                
                div(class = "col-sm-2 bg-danger" onclick=`buy(${item})`) #{form.Kangaroo_price}
                hr
    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }